html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  text-decoration: none;
  list-style: none;
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  /* vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

/* body {
  line-height: 1;
} */
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #757575;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.change.current {
  color: #2196f3;
}

.change.current::after {
  position: absolute;
  display: block;
  bottom: 0px;
  content: '';
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.change:hover,
.change:focus {
  color: #2196f3;
}

.change:hover svg,
.change:focus svg {
  fill: #2196f3;
}

.none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  transition: color, fill, background-color, box-shadow, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  background-color: var(--background-hero);
}

.icon-box {
  display: flex;
  justify-content: space-between;
}

.icon-link {
  transition: color, fill, background-color, box-shadow, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.icon-link:hover,
.icon-link:focus {
  background-color: #2196f3;
}

.icon-link:hover svg,
.icon-link:focus svg {
  fill: white;
}

.logo-social {
  transition: color, fill, background-color, box-shadow, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.l-white {
  color: white;
}

.l-dark {
  color: #212121;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.logo-studio {
  color: #2196f3;
}

.nav-link {
  transition: color, fill, background-color, box-shadow, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* ====== contacts */
.address {
  margin-left: auto;
}

.contacts {
  transition: color, fill, background-color, box-shadow, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-icon {
  transition: color, fill, background-color, box-shadow, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
  fill: #757575;
}

.address-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list {
  justify-content: center;
  margin-bottom: 50px;
}

.navigation-item:not(:last-child) {
  margin-right: 8px;
}

.button.point {
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
}

.point {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.portfolio-head {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  flex-wrap: wrap;
}

.model-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.model-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link {
  display: block;
  transition: color, fill, background-color, box-shadow, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.collection {
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
  padding: 20px 24px;
  z-index: 2;
}

/* ------------------------- */
.portfolio-image-caption {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-image-caption {
  transform: translateY(0);
}

.portfolio-image-caption-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.contacts-box {
  margin-right: 70px;
}

.appeal {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: white;
}

.footer-social {
  margin-right: 93px;
}

.footer-social .icon-item:not(:first-child) {
  margin-left: 10px;
}

.footer-social .icon-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: color, fill, background-color, box-shadow, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .icon-link:hover,
.footer-social .icon-link:focus {
  background-color: #2196f3;
}

.footer-social .logo-social {
  fill: white;
  transition: color, fill, background-color, box-shadow, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo.l-white {
  margin-bottom: 20px;
}

.address-card {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: white;
  margin-bottom: 9px;
}

.main-address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contacts-footer:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color, fill, background-color, box-shadow, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-call-to-action {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.form-group-footer {
  display: flex;
  align-items: flex-end;
  margin-right: auto;
}

.footer-subscribe-email {
  margin-right: 12px;
  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  min-width: 358px;
}

.footer-subscribe-email,
.footer-subscribe-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-button {
  transition: color, fill, background-color, box-shadow, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 28px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  border-width: 0;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.footer-subscribe-icon {
  margin-left: 10px;
  fill: white;
}
/*# sourceMappingURL=portfolio.css.map */