:root {
  --background-color: #ffffff;
  --background-section: rgba(245, 244, 250, 1);
  --background-button: rgba(245, 244, 250, 1);
  --background-hero: rgba(47, 48, 58, 1);
  --main-color: rgba(117, 117, 117, 1);
  --main-color-s: rgba(117, 117, 117, 0.5);
  --secondary-color: rgba(33, 150, 243, 1);
  --title: rgba(33, 33, 33, 1);
  --text-white: rgba(255, 255, 255, 1);
  --footer-white: rgba(255, 255, 255, 0.6);
  --footer-white-s: rgba(255, 255, 255, 0.3);
  --footer-s: rgba(24, 140, 232, 1);
  --main-font: Raleway, sans-serif;
  --background-team: rgba(245, 244, 250, 1);
  --border: rgba(238, 238, 238, 1);
  --icon-main: rgba(175, 177, 184, 1);
  --icon-hover: rgba(245, 244, 250, 1);
  --icon-bac-hover: rgba(33, 150, 243, 1);
  --background-footer: rgba(255, 255, 255, 0.1);
  --transition-property: color, fill, background-color, box-shadow, border-color;
  --transition-duration-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--background-color);
  color: var(--main-color);
  letter-spacing: 0.03em;
}

/* =========== COMPONENTS ============ */
.change.current {
  color: var(--secondary-color);
}
.change.current::after {
  position: absolute;
  display: block;
  bottom: 0px;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--secondary-color);
  border-radius: 2px;
}

.change:hover,
.change:focus {
  color: var(--secondary-color);
}
.change:hover svg,
.change:focus svg {
  fill: var(--secondary-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}

.button {
  background-color: var(--background-button);
  color: var(--title);
  font-family: Roboto;
  font-size: 16px;
  transition: var(--transition-property), var(--transition-duration-timing);
}

.button:hover,
.button:focus {
  background-color: var(--secondary-color);
  color: var(--text-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  background-color: var(--background-hero);
}

.none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========== END COMPONENTS ========= */

.header .container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.l-white {
  color: var(--text-white);
}
.l-dark {
  color: var(--title);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}
.logo-studio {
  color: var(--secondary-color);
}
.nav-link {
  transition: var(--transition-property), var(--transition-duration-timing);
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title);
  padding-top: 32px;
  padding-bottom: 32px;
}
/* ====== contacts */
.address {
  margin-left: auto;
}
.contacts {
  transition: var(--transition-property), var(--transition-duration-timing);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-icon {
  transition: var(--transition-property), var(--transition-duration-timing);
  margin-right: 10px;
  fill: var(--main-color);
}
.address-item:not(:last-child) {
  margin-right: 50px;
}

/*================ hero ================*/

.hero-box {
  /* display: block; */
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-hero);
  text-align: center;
}
.hero-box .container {
  flex-direction: row;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-white);
  max-width: 700px;
  display: block;
  margin: 0 auto 30px;
}

.hero-bt {
  transition: all, var(--transition-duration-timing);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white);
  background-color: var(--secondary-color);

  min-width: 200px;
  padding: 10px 31px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}

.hero-bt:hover,
.hero-bt:focus {
  background-color: var(--footer-s);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
  cursor: pointer;
}

/* ================  Features ===========*/

.features .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-item {
  width: 270px;
}

.features-box {
  background-color: var(--icon-hover);
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.mark-key {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title);
  margin-bottom: 10px;
}

.mark-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* ================ What are we doing ================*/
.case-work .container {
  padding-bottom: 94px;
}

.case-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title);
  margin-bottom: 50px;
  text-align: center;
}
.case-title:not(:last-child) {
  margin-right: 30px;
}
.case-title {
  position: relative;
}
.case-item {
  position: absolute;
  font-style: normal;
  bottom: 0px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white);
  text-align: center;
  padding: 27px 15px;
  background: rgba(47, 48, 58, 0.8);
}

/* ================ our team ================ */
.team-container {
  background-color: var(--background-section);
}

.team-container .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
  width: calc((100% - 90px) / 4);
}
.team-aside {
  padding: 30px 32px;
}
.main-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title);
  margin-bottom: 10px;
  text-align: center;
}

.name-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.icon-box {
  display: flex;
  justify-content: space-between;
}

.icon-link {
  transition: var(--transition-property), var(--transition-duration-timing);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.icon-link:hover,
.icon-link:focus {
  background-color: var(--secondary-color);
}

.icon-link:hover svg,
.icon-link:focus svg {
  fill: var(--text-white);
}

.logo-social {
  transition: var(--transition-property), var(--transition-duration-timing);
  width: 20px;
  height: 20px;
  fill: var(--icon-main);
}

/* ================ Regular customers  ================*/

.customers .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-box {
  display: flex;
  justify-content: center;
}

.clients-list:not(:nth-child(6n)) {
  margin-right: 30px;
}

.clients-list {
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.clients-link {
  transition: var(--transition-property), var(--transition-duration-timing);

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-main);
  border-radius: 4px;
  height: 90px;
}
.clients-icon {
  fill: var(--icon-main);
  transition: var(--transition-property), var(--transition-duration-timing);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--icon-bac-hover);
}

.clients-link:hover svg,
.clients-link:focus svg {
  fill: var(--icon-bac-hover);
}

/* ================ footer  ================*/
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}
.contacts-box {
  margin-right: 70px;
}

.appeal {
  margin-bottom: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-white);
}
.footer-social {
  margin-right: 93px;
}
.footer-social .icon-item:not(:first-child) {
  margin-left: 10px;
}

.footer-social .icon-link {
  background-color: var(--background-footer);
  transition: var(--transition-property), var(--transition-duration-timing);
}
.footer-social .icon-link:hover,
.footer-social .icon-link:focus {
  background-color: var(--icon-bac-hover);
}

.footer-social .logo-social {
  fill: var(--text-white);
  transition: var(--transition-property), var(--transition-duration-timing);
}

.logo.l-white {
  margin-bottom: 20px;
}
.address-card {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-white);
  margin-bottom: 9px;
}
.main-address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contacts-footer:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-white);
  transition: var(--transition-property), var(--transition-duration-timing);
}
.footer-call-to-action {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
}

.form-group-footer {
  display: flex;
  align-items: flex-end;
  margin-right: auto;
}

.footer-subscribe-email {
  margin-right: 12px;
  padding: 14px 16px;
  border: 1px solid var(--footer-white-s);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  min-width: 358px;
}
.footer-subscribe-email,
.footer-subscribe-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-white);
}
.footer-subscribe-button {
  transition: var(--transition-property), var(--transition-duration-timing);
  padding: 10px 28px;
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-white);
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  border-width: 0;
}
.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: var(--footer-s);
  cursor: pointer;
}

.footer-subscribe-icon {
  margin-left: 10px;
  fill: var(--text-white);
}

/*==============  Модальное окно =================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: var(--transition-property), var(--transition-duration-timing);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 150%);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 37px 40px 43px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform, var(--transition-duration-timing);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  transition: var(--transition-property), var(--transition-duration-timing);
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.close-modal:hover,
.close-modal:focus {
  color: var(--secondary-color);
  cursor: pointer;
}

.modal-call-to-action {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
}
.modal-form {
  width: 448px;
  /* outline: 1px solid turquoise; */
}
.form-group,
.form-group-comment {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  transition: all, var(--transition-duration-timing);
  /* outline: 1px solid turquoise; */
}
.form-group:focus-within {
  color: var(--secondary-color);
}
.form-group:focus-within svg {
  fill: var(--secondary-color);
}

.form-group-comment {
  margin-bottom: 20px;
}
.modal-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
}
.modal-input {
  padding: 12px 14px 12px 42px;
  /* height: 40px; */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border-color, var(--transition-duration-timing);
}
.modal-input:focus-within,
.modal-comment:focus-within {
  border-color: var(--secondary-color);
  outline: none;
}
.modal-input:focus,
.modal-comment:focus,
.modal-input:hover,
.modal-comment:hover {
  cursor: pointer;
}

.modal-icon-container {
  display: flex;
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.modal-icon {
  transition: all, var(--transition-duration-timing);
  fill: var(--title);
}

.modal-comment {
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border-color, var(--transition-duration-timing);
}
.modal-comment::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--main-color-s);
}
.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
}
.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.modal-checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-label-agree::after {
  content: '';
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title);
  border-radius: 4px;
  margin-right: 7px;
  transition: all var(--transition-duration-timing);
}
.modal-checkbox-hidden:checked + .modal-label-agree::after {
  background-color: var(--secondary-color);
  background-image: url('/img/icon\ check.svg');
  background-origin: border-box;
  background-size: contain;
  border-color: var(--secondary-color);
}
.modal-checkbox-hidden:focus + .modal-label-agree::after {
  border-color: var(--secondary-color);
}

.modal-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-left: 0.25em;
  color: var(--secondary-color);
  text-decoration: underline;
}
.modal-submit {
  transition: all, var(--transition-duration-timing);
  display: block;
  margin: 0 auto;
  padding: 10px 56px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-white);
  background: var(--secondary-color);
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-submit:hover,
.modal-submit:focus {
  background-color: var(--footer-s);
  cursor: pointer;
}

/* ====&&&&&&&==== portfolio  ====&&&&&&&====*/

/* =========== navigation =========*/

.navigation-list {
  justify-content: center;
  margin-bottom: 50px;
}
.navigation-item:not(:last-child) {
  margin-right: 8px;
}
.button.point {
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
}
.point {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

/* =========== portfolio =============*/

.portfolio-head {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  flex-wrap: wrap;
}
.model-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title);
  margin-bottom: 4px;
}
.model-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-color);
}
.portfolio-item {
  width: calc((100% - 60px) / 3);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link {
  display: block;
  transition: var(--transition-property), var(--transition-duration-timing);
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.collection {
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: var(--border);
  padding: 20px 24px;
  z-index: 2;
}
/* ------------------------- */
.portfolio-image-caption {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform, var(--transition-duration-timing);
}
.portfolio-item:hover .portfolio-image-caption {
  transform: translateY(0);
}
.portfolio-image-caption-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--background-color);
}
.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}
