.case-work {
  .container {
    padding-bottom: 94px;
  }
}

.case-list {
  @include centered-flex();
}

.case-title {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.case-item {
  position: absolute;
  font-style: normal;
  bottom: 0px;
  width: 100%;
  font-weight: 600;
  font-size: $font-size-normal;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $text-white;
  text-align: center;
  padding: 27px 15px;
  background: rgba(47, 48, 58, 0.8);
}
