.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  .container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  @include centered-flex();
}

.logo {
  font-family: 'Raleway';
  font-weight: $font-weight-bold;
  font-size: 26px;
  line-height: 1.2;

  &-studio {
    color: $secondary-color;
  }
}
.nav-list {
  @include centered-flex();
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.l-white {
  color: $text-white;
}
.l-dark {
  color: $title;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.nav-link {
  transition: $transition-property, $transition-duration-timing;
  position: relative;
  font-weight: $font-weight-normal;
  font-size: $font-size-normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* ====== contacts */

.address {
  @include centered-flex();
  margin-left: auto;
}
.contacts {
  transition: $transition-property, $transition-duration-timing;
  display: flex;
  align-items: center;
  font-weight: $font-weight-normal;
  font-size: $font-size-normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $main-color;
  padding-top: 32px;
  padding-bottom: 32px;

  &-icon {
    transition: $transition-property, $transition-duration-timing;
    margin-right: 10px;
    fill: $main-color;
  }
}

.address-item:not(:last-child) {
  margin-right: 50px;
}
