.hero-box {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  text-align: center;
  background: {
    image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./img/hero_mob.jpg);
    size: cover;
    position: center;
    repeat: no-repeat;
    color: $background-hero;
  }

  @media screen and (min-width: 480px) {
    max-width: 767px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('./img/hero_tab.jpg');
  }

  @media screen and (min-width: 768px) {
    max-width: 1199px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('./img/hero_des.jpg');
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
      width: 1200px;
      max-width: 696px;
      flex-direction: row;
      align-items: center;
    }
  }
}

.hero-title {
  font-weight: $font-weight-bolder;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: $letter-spacing-max;
  text-transform: uppercase;
  color: $text-secondary;
  margin: 0 auto 30px;
  @media screen and (min-width: 1200px) {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-bt {
  transition: all, $transition-duration-timing;
  font-family: inherit;
  font-weight: $font-weight-bold;
  font-size: $font-size-above;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $text-secondary;
  background-color: $secondary-color;
  min-width: 200px;
  padding: 10px 31px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;

  &:hover,
  &:focus {
    background-color: $footer-secondary;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
    cursor: pointer;
  }
}
