.hero-box {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $background-hero;
  text-align: center;

  .container {
    flex-direction: row;
    align-items: center;
  }
}

.hero-title {
  font-weight: $font-weight-bolder;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $text-white;
  max-width: 700px;
  display: block;
  margin: 0 auto 30px;
}

.hero-bt {
  transition: all, $transition-duration-timing;
  font-family: inherit;
  font-weight: $font-weight-bold;
  font-size: $font-size-above;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $text-white;
  background-color: $secondary-color;
  min-width: 200px;
  padding: 10px 31px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;

  &:hover,
  &:focus {
    background-color: $footer-s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
    cursor: pointer;
  }
}
