.navigation-list {
  justify-content: center;
  margin-bottom: 50px;
  @include centered-flex();
}
.navigation-item:not(:last-child) {
  margin-right: 8px;
}
.button.point {
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
}
.point {
  font-weight: $font-weight-normal;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
