.icon-box {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.icon-item:not(:last-child) {
  margin-right: 10px;
}

.icon-link {
  transition: all, $transition-duration-timing;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $secondary-color;
  }
}

.icon-link:hover svg,
.icon-link:focus svg {
  fill: $text-secondary;
}

.logo-social {
  transition: all, $transition-duration-timing;
  width: 20px;
  height: 20px;
  fill: $icon-main;
}
