.change {
  &:hover,
  &:focus {
    color: $secondary-color;
  }

  &.current {
    color: $secondary-color;

    &::after {
      position: absolute;
      display: block;
      bottom: 0px;
      content: '';
      width: 100%;
      height: 4px;
      background: $secondary-color;
      border-radius: 2px;
    }
  }
}

.change:hover svg,
.change:focus svg {
  fill: $secondary-color;
}
