@mixin centered-flex($type: flex, $cross-axsis: center) {
  display: $type;
  align-items: $cross-axsis;
}

%email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $footer-white;
}
